/* =========================
   BASIC
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background-color: #cce0cc;

    color: #173c32;
}


/* =========================
   HEADER
========================= */

.header {
    height: 90px;

    /* background-color: rgb(240, 238, 246); */

    display: flex;

    align-items: center;

    padding: 0 40px;

    border-bottom: 1px solid #dddddd;
    border-radius: 3%;

    width: 100%;

}



h1 {
    
    color: #17022e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-size: 200%;

}






/* Profile */

.profile {
    margin-left: auto;

    display: flex;

    align-items: center;

    gap: 10px;

    font-size: 19px;
}

.profile span {
    font-size: 30px;
}


/* =========================
   DASHBOARD LAYOUT
========================= */

.dashboard-container {
    display: flex;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 250px;

    min-height: calc(vh - 90px);
    border-radius: 10px;


    background-color: #363236;

    padding: 30px 15px;

    display: flex;

    flex-direction: column;

}


.sidebar a {
    color: rgb(251, 244, 244);

    text-decoration: none;

    font-size: 20px;

    padding: 16px 20px;

    margin-bottom: 30px;

    border-radius: 100000px;
}


/* Active */

.sidebar a.active {
    background-color: #011809;
}


/* Hover */

.sidebar a:hover {
    background-color: #011809;
}


/* Logout */

.sidebar .logout {
    margin-top: 20px;
}


/* =========================
   MAIN CONTENT
========================= */

.main {
    flex: 1;

    padding: 35px 40px;
}


/* =========================
   WELCOME
========================= */

.welcome {
    background-color: #9ea79a;

    padding: 45px 40px;

    border-radius: 15px;

    margin-bottom: 45px;
}

.welcome h1 {
    font-size: 40px;

    margin-bottom: 15px;
}




/* =========================
   MY LAND TITLE
========================= */

.section-title {
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 32px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #17022e;
}

.section-title a {
    color: #03442b;

    text-decoration: none;

    font-size: 17px;
}


/* =========================
   LAND CARD
========================= */

.land-card {
    background-color: rgb(246, 234, 234);

    border: 1px solid #f3f5f4;

    border-radius: 15px;

    padding: 25px;

    display: flex;

    align-items: center;

    gap: 35px;

    box-shadow:
        0 3px 12px rgba(0, 0, 0, 0.05);
}


/* Land Image */

.land-image img {
    width: 275px;

    height: 200px;

    object-fit: cover;

    border-radius: 10px;
}


/* =========================
   LAND INFORMATION
========================= */

.land-info {
    flex: 1;
}

.label {
    color: #71807b;

    font-size: 15px;

    margin-bottom: 5px;
}

.land-info h3 {
    font-size: 25px;

    margin-bottom: 20px;
}


/* line */

.land-info hr {
    border: none;

    border-top: 1px solid #e1e5e3;

    margin-bottom: 20px;
}


/* Location / Area */

.info {
    display: flex;

    gap: 15px;

    margin-bottom: 20px;
}

.info>span {
    font-size: 24px;
}

.info p:last-child {
    font-size: 17px;
}


/* =========================
   VIEW DETAILS BUTTON
========================= */

.view-button {
    background-color: #082a20;

    color: white;

    text-decoration: none;

    padding: 14px 20px;

    border-radius: 8px;

    white-space: nowrap;
}

.view-button:hover {
    background-color: #569c8f;
}